

# Build artifacts
build/
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcuserstate

# Dependências (Carthage)
Carthage/Build/

# Dependências (CocoaPods)
Pods/
*.lock

# Swift Package Manager
/.build
/Package.resolved

# SwiftPM Cache
/.swiftpm/xcode/outputs

# Archives
*.xcarchive

# Derived data
DerivedData/

# EditorConfig
*.editorconfig

# Playground
timeline.xctimeline
playground.xcworkspace

# Xcode Server
*.xccheckout
*.moved-aside

# SwiftLint e SwiftFormat (opcional)
.swiftlint.yml
.swiftformat

# Recursos temporários
*.tmp
*.DS_Store
*.swp
*.swo
